


.large-6.medium-8.columns.hide-for-small
  = link_to root_path do
    %h2{style: "color: whitesmoke; display: block;"}
      = image_tag("logo.png", style: "height: 4rem;")
      &nbsp;
      Returns 
      %span{class: "show-for-large"}Platform

.large-6.medium-4.columns.hide-for-small
  %ul.sub-nav
    - unless current_user.nil?
      / .left
      /   %li
      /     - if current_user.has_role? :admin
      /       %b= link_to 'Admin', admin_index_path
      .right
        %li#user-id= link_to current_user.email, edit_user_registration_path
        %li.divider
        %li= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "alice-color"


/ .off-canvas-wrap.show-for-small{"data-offcanvas" => " "}
/   .inner-wrap
/     %nav.tab-bar

/       %section.middle.tab-bar-section
/         %h1.title
/           Returns

/       - unless current_user.nil?
/         %section.right-small
/           %a.right-off-canvas-toggle.menu-icon{href: "#"}
/             %span


/     - unless current_user.nil?
/       %aside.right-off-canvas-menu
/         %ul.off-canvas-list
/           - unless current_user.nil?
/             %li= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "alice-color"
/             %li
/               = link_to current_user.email, '#'

/     %a.exit-off-canvas
